application:
  name: @project.name@
  description: @project.description@
  version: @project.version@
server:
  servlet:
    context-path: /api
spring:
  profiles:
    active: @project.profile@
  jackson:
    time-zone: "GMT-03"
logging:
  level:
    root: INFO
    web: INFO
    sql: INFO